In [104]:
import pandas as pd
import json
import pickle
import os
import itertools
from ast import literal_eval
import numpy as np
import sys
from datetime import datetime
from scipy import stats
from IPython.display import clear_output, display
import subprocess
from datetime import datetime
pd.options.display.float_format = '{:.0f}'.format

In [105]:
import pandas as pd
import numpy as np
from spacy.lang.fr.stop_words import STOP_WORDS as fr_stop
french_stopwords = list(fr_stop)
from scipy import stats
import math
import string

In [106]:
def LoadJsonFile(filename): 
    with open(filename, 'r') as f:
        DicConfig = json.load(f)
    return DicConfig


def GlobalDicDeplier(OneDic):
    for k,v in OneDic.items():
        exec('globals()[k] = v')
    return None

In [107]:
print("Chargement du fichier config")
DicConfig = LoadJsonFile(os.path.join(os.getcwd(),"config.json"))
GlobalDicDeplier(DicConfig)
sys.path.append(Root)
from fun import *
print("")

Chargement du fichier config

In [108]:
# LOAD DATA

print("Chargement des donnés")

path = os.path.join(Root,FolderProject,"FinalFam.pkl")
FinalFam = LoadPickleOrInit(path)

path = os.path.join(Root,FolderProject,"FinalInf.pkl")
FinalInf = LoadPickleOrInit(path)

path = os.path.join(Root,FolderProject,"gdic.pkl")
gdic = LoadPickleOrInit(path)

path = os.path.join(Root,FolderProject,"tfidf_DocsRepresentation.pkl")
DocsRep = LoadPickleOrInit(path)

print("")

Chargement des donnés

In [130]:
path = os.path.join(Root,FolderProject,"tmdic.pkl")
tmdic = LoadPickleOrInit(path)

In [109]:
path = os.path.join(Root,FolderProject,"FinalFam.pkl")
FinalFam = LoadPickleOrInit(path)

In [110]:
DocsRep.rename(columns = {"f":"ndocs","tweetid":"AUTHORTWEETID"},inplace=True)

In [ ]:
gdic

In [134]:
tmdic[1581169541]["start"],tmdic[1581169541]["end"]

('2020-02-08 13:30:41', '2020-02-08 13:45:41')

In [135]:
d = {}

In [136]:
d["nombre de places"] = 4

# Functions

In [111]:
def LinksFromDicToDF(randomlinksdf):

    L = []
    for k,v in linksdf.items():
        a = k[0]
        b = k[1]
        f = v
        tempdic = {"a":a,"b":b,"f":f}
        L.append(tempdic)

    solution = pd.DataFrame(L)

    return solution

def SavingGraphToCsv(gdic):
    
    for k,v in gdic.items():
        linkscsv = LinksFromDicToDF(v["links"])
        linkscsv.to_csv("graph"+str(k)+".csv",index=False)
        gdic[k]["ondisk"] = True
    
    return None

In [112]:
# Write csv and save minor gdic modifications
SavingGraphToCsv(gdic)

In [113]:
PickleDump(os.path.join(Root,FolderProject,"gdic.pkl"),gdic)

In [114]:
gdic.keys()

dict_keys([1581128142, 1581129942, 1581131742, 1581133542, 1581135342, 1581137142, 1581138942, 1581140742, 1581142542, 1581144342, 1581146142, 1581147942, 1581149742, 1581151542, 1581153342, 1581155142, 1581156942, 1581158742, 1581160542, 1581162342, 1581164142, 1581165942, 1581167742, 1581169542, 1581171342, 1581174942, 1581178542, 1581182142, 1581185742, 1581189342, 1581192942, 1581196542, 1581200142, 1581203742, 1581207342, 1581210942, 1581214542, 1581218142, 1581221742, 1581225342, 1581228942, 1581232542, 1581236142, 1581239742, 1581243342, 1581246942, 1581250542, 1581254142, 1581257742, 1581261342])

In [129]:
tmdic[1581129942].keys()

NameError: name 'tmdic' is not defined

In [115]:
tstats = gdic[1581129942]["informations"]

In [116]:
tstats.head(2)

        AUTHORTWEETID            AUTHORID  AUTHORTWEETUNIXEPOCH    f
0 1225848150545575936  815648820310736896            1581103548  423
1 1225728427203931904 1116341677202059264            1581075004  196

In [117]:
DocsRep.head(2)

         D  ndocs  idf       AUTHORTWEETID     word
1376  1971      7    6 1226118823813812224  enfants
1734  1971     30    4 1226118823813812224    femme

In [118]:
tempdf = tstats.merge(DocsRep,how="left",on="AUTHORTWEETID")

In [119]:
tempdf.shape

(815, 8)

In [120]:
tstats.shape

(282, 4)

In [121]:
tempdf.head(3)

,AUTHORTWEETID,AUTHORID,AUTHORTWEETUNIXEPOCH,f,D,ndocs,idf,word
0,1225848150545575936,815648820310736896,1581103548,423,1971,11,5,migrant
1,1225848150545575936,815648820310736896,1581103548,423,1971,15,5,vrai
2,1225848150545575936,815648820310736896,1581103548,423,1971,19,5,petit

In [122]:
FinalFam.head(3)

,AUTHORID,AUTHORTWEETCONTENT,AUTHORTWEETID,AUTHORTWEETUNIXEPOCH,status
0,815648820310736896,C’est vrai que Charlie Hebdo ne s’est jamais m...,1225848150545575936,1581103548,ko
1,1116341677202059264,Mdr dis wAllah il est en train d’afficher son ...,1225728427203931904,1581075004,ko
2,1115888428556718080,Allah y hafdek = qu'Allah te garde \n\nAllah y...,1225861884466823168,1581106823,ko

In [123]:
tempdf = tempdf.merge(FinalFam[["AUTHORTWEETID","AUTHORTWEETCONTENT"]],on="AUTHORTWEETID")

In [125]:
len(tempdf[tempdf.D.isna()])

17

In [99]:
tempdf.AUTHORTWEETCONTENT.loc[814]

"Bon week-end à tous\n#Kebetu @TeamRepublicain \nqu'Allah protège notre cher Pays :#Senegal"

In [ ]:
1225907002108497920